<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsoft.edums.teamnt.mapper.TeacherMapper">
    <!-- 返回教师实体 -->
	<resultMap type="Teacher" id="teacherResultMap">
		<id column="teaId" property="teaId" />
		<result column="teaNo" property="teaNo" />
		<result column="teaName" property="teaName" />
		<result column="sex" property="sex" />
		<result column="specialty" property="specialty" />
		<result column="telephone" property="telephone" />
		<result column="teaLevel" property="teaLevel" />
		<result column="teaState" property="teaState" />
		<result column="isDelete" property="isDelete" />
		<result column="course_id" property="courseId"/>
		<association property="course" column="course_id" javaType="CourseInfo">
			<id column="courseId" property="courseId"/>
			<result column="courseNo" property="courseNo"/>
			<result column="courseName" property="courseName"/>
			<result column="courseHour" property="courseHour"/>
			<result column="describe" property="describe"/>
			<result column="courseType" property="courseType"/>
			<result column="courseState" property="courseState"/>
			<result column="isDelete" property="isDelete"/>
		</association>
	</resultMap>
	<resultMap type="CourseInfo" id="CourseResultMap">
		<id column="courseId" property="courseId"/>
		<result column="courseNo" property="courseNo"/>
		<result column="courseName" property="courseName"/>
		<result column="courseHour" property="courseHour"/>
		<result column="describe" property="describe"/>
		<result column="courseType" property="courseType"/>
		<result column="courseState" property="courseState"/>
		<result column="isDelete" property="isDelete"/>
	</resultMap>
	<select id="listPageGetTeacher" parameterType="Teacher" resultMap="teacherResultMap">
		select * from teacher where isDelete=0
		<if test="teaId!=null">
		and teaId=#{teaId}
		</if>
		<if test="teaNo!=null">
		and teaNo=#{teaNo}
		</if>
		<if test="teaName!=null">
		and teaName=#{teaName}
		</if>
		<if test="sex!=null">
		and sex=#{sex}
		</if>
		<if test="courseId!=null">
		and course_id=#{courseId}
		</if>
		<if test="specialty!=null">
		and specialty=#{specialty}
		</if>
		<if test="telephone!=null">
		and telephone=#{telephone}
		</if>
		<if test="teaLevel!=null">
		and teaLevel=#{teaLevel}
		</if>
		<if test="teaState!=null">
		and teaState=#{teaState}
		</if>
	</select>
	<select id="queryCourseById" parameterType="Integer" resultMap="CourseResultMap">
	select * from courseinfo where isDelete=0 and courseId=#{courseId}
	</select>
    <!--  增加教师信息 -->
	<insert id="insertTeacher" parameterType="Teacher" useGeneratedKeys="true"
		keyProperty="teaId" >
		insert into teacher
		(teaName,sex,course_id,specialty,telephone,teaLevel,teaState,isDelete)
		values (#{teaName},#{sex},#{courseId},#{specialty},#{telephone},#{teaLevel},#{teaState},#{isDelete})
	</insert>
   <!-- 删除教师信息 -->
   <update id="deleteTeacher" parameterType="Teacher">
     UPDATE teacher
     SET  isDelete = 1
     WHERE teaNo=#{teaNo}   
   </update>

	
	
	
</mapper>